<!-- <div style="overflow: hidden;">
  <h1 class="margin">Categories:</h1>
  <mat-grid-list cols="6" rowHeight="300px" style="width: 100%">
    <mat-grid-tile *ngFor="let category of categories" [colspan]="2" [rowspan]="2">
      <mat-card class="example-card2">
        <a routerLink="/category-details" [queryParams]="{categoryId:category.categoryId}">
          <img src="{{ category.categoryImage }}" alt="Photo of a {{ category.categoryName }}" style="width: 198px; height: 180px;"
            mat-card-image>
          <mat-card-content>
            <h3 style="text-align: center">{{ category.categoryName | uppercase }}</h3>
          </mat-card-content>
        </a>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->

<!-- 
<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4 col-6 aa" *ngFor="let category of categories">
      <a routerLink="/category-details" [queryParams]="{categoryId:category.categoryId}">
        <mat-card>
          
          <img src="{{ category.categoryImage }}" alt="Photo of a {{ category.categoryName }}" style="width:100%;">
              <span class="gameName">{{ category.categoryName | uppercase }}</span>
        </mat-card>
      </a>
    </div>
  </div>
</div> -->






<div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-6 aa" *ngFor="let category of categories">
          <a routerLink="/category-details" [queryParams]="{categoryId:category.categoryId}">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{category.categoryName | uppercase }} </mat-card-title>
          </mat-card-header>
          <img mat-card-image src={{category.categoryImage}} alt="{{ category.categoryImage }}">
        </mat-card>
        </a>
      </div>
    </div>
  </div>





